.App {
    -webkit-font-smoothing: antialiased;

    text-align: left;
    display: flex;
    /*transform: scale(1.15);*/
}

.centred {
    /* Center vertically and horizontally */
    position: absolute;
    /*top: 25%;*/
    left: 50%;
    margin: 0 0 0 -185.5px;
}

.dialogBox {
    position: absolute;
    top: 35%;
    left: 50%;
    margin: 0 0 0 -150px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}
.scaled {
    transform: scale(1.25);
}

.button-style {
    /*float: right;*/
    margin: 15px;
}

.box-margin{
    margin: 20px;
}

.textbox {
    border: inset 2px;
    background: #fff;
    margin: 5px;
    height: 50px;
    padding: 2px;
    font-size: 14px;
    overflow-y: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}
.textbox:focus {
    border: inset 2px;
    outline:none;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    justify-content: center;
}

.textarea {
    resize: none;
    overflow: auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-item {

}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px
}
